
.static {
    position: static;
    padding: 20px;
    border: 2px solid blue;
  }
  
  .relative {
    position: relative;
    padding: 20px;
    border: 2px solid blue;
    top: 20px;
    left: 200px;
    width: 250px;
    height: 250px;
  }
  
  .absolute {
    position: absolute;
    background-color: #00014e;
    padding: 20px;
    border: 1px solid #ccc;
    top: 70px;
    right: 80px;
    color: white;
  }
  
  .sticky {
    position: sticky;
    background-color: #00014e;
    padding: 20px;
    top: 0;
    color: white;
  }